/node_modules
/public/hot
/public/build
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
supervisord.log
supervisord.pid


redirects-wizard_test_*
.dokploy
